* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  a, h1, h2 {
    font-size: 14px;
    font-weight: 500;
}
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-color: #fff;
    line-height: 1.65em;
    font-family: Roboto,sans-serif;
    font-display: swap;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
  img {
    max-width: 100%;
    height: auto;
}
  div{
    display: block;
  }
  header{
    margin-top: 0;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    height: 72px;

  }

  header div{

    height: 48px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

input[type="number" i] {
  padding: 1px 2px;
  width: 276px;
  border: solid 1px #828282;
  background-color: transparent;
  border-radius: 0 4px 4px 0;
}

  footer{
      text-align:center;
      margin-top: 2rem;
      background-color: #6c757d;
      padding-top: 2rem;
      padding-bottom: 2rem;

  }
  .header-section{
    padding-top: 12px;
  }
  .logo-menu{
    align-items: center;
    margin-left: 150px;
    widows: 25px;
  }
  
  .mpl-logo{
    width: 110px;
    height: 24px;
    max-width: 100%;
    cursor: pointer;
  }
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #ff1e46;
    margin: 5px 0;
    transition: .4s;
  }
  .menu-icon{
    display: inline-block;
    cursor: pointer;
    margin:0;
    width: 25px;
}
  }

  .banner-layout{
    height: 712px;
    width: 1519.200px;
    background-color: red;
  }
  .hide{
    visibility: hidden;
  }

  .sms-form{
    margin-top: 56px;
  }
  .input-mob{
    height:50px;
    width:43px;
    line-height: 50px;
    color: #222;
    font-size:20px;
    box-sizing: border-box;
    border: solid 1px #828282;
    border-radius: 4px 0 0 4px;
  }
.input-text{
  font-family: Roboto,sans-serif;
  font-size: 14px;
  line-height: 1.65em;
  text-align: left;
  border-radius: 4px;
  width: 100%;
  display: flex;
  background-color: transparent;
  line-height: 18px;
}
.download-but{
  width: 288px;
  margin-left: 15px;
  border-radius: 4px;
  background: #19be00;
  font-family: Roboto;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.01px;
  text-align: center;
  color: #ffffff;
  border: none;
}